<script type="text/javascript">
	
	document.addEventListener("DOMContentLoaded", function() {
	    var elements = document.getElementsByTagName("INPUT");
	    for (var i = 0; i < elements.length; i++) {
	        elements[i].oninvalid = function(e) {
	            e.target.setCustomValidity("");
	            if (!e.target.validity.valid ) {
	                e.target.setCustomValidity("Este campo não pode ficar em branco");
	            }
	        };
	        elements[i].oninput = function(e) {
	            e.target.setCustomValidity("");
	        };
	    }
	})

</script>

<%= form_tag  directories_path, method: :post do  %>
		
		<div class="field">
			<%= label_tag "Login"%>
   			<%= text_field_tag 'login', nil,:required => true , :placeholder => "Login"%>
   		</div>
	
		<div class="field">
			<%= label_tag "Nome"%> 
			<%= text_field_tag 'nome' , nil ,:required => true,:placeholder => "Nome" %>
   		</div>
		
		<div class="field">
			
			<%= label_tag "SobreNome"%>
			<%= text_field_tag 'sobreNome' ,nil , :required => true,:placeholder => "SobreNome" %>
		</div>
		
		<div class="field">
			<%= label_tag "Email"%>
   			<%= email_field_tag 'email' , nil, :required => true, :placeholder => "seuemail@.com" %>
   		</div>

		<div class="field">
			<%= label_tag "Senha"%>
   			<%= password_field_tag "password", nil ,:required => true %>
   		</div>		

   		<div class="field">
			<%= label_tag "Confrimar senha"%>
   			<%= password_field_tag "password_confirmation", nil ,:required => true %>
   		</div>		


		  <%= button_tag :class => 'btn-success btn', :id => 'cadastrar' do %>
            <i class=' icon-white icon-user'></i> Cadastrar
        <% end %>

	
<% end  %>
