
<%=  form_tag url_for(:controller => 'directories', :action => 'search_user')  do  %>
		
		<div class="field">
			<h2> Digite seu email</h2>
			<%= label_tag "email"%>
   			<%= email_field_tag 'email', nil,:required => true , :placeholder => "Buscar por email"%>
   		</div>

		  <%= button_tag :class => 'btn-info btn', :id => 'cadastrar' do %>
            <i class=' icon-white icon-search'></i> Buscar
        <% end %>
	
<% end  %>
