<script type="text/javascript">
	
	document.addEventListener("DOMContentLoaded", function() {
	    var elements = document.getElementsByTagName("INPUT");
	    for (var i = 0; i < elements.length; i++) {
	        elements[i].oninvalid = function(e) {
	            e.target.setCustomValidity("");
	            if (!e.target.validity.valid ) {
	                e.target.setCustomValidity("Este campo não pode ficar em branco");
	            }
	        };
	        elements[i].oninput = function(e) {
	            e.target.setCustomValidity("");
	        };
	    }
	})

</script>

<%= form_tag  directories_path, method: :put do  %>
		<h2>Editar Cadastro</h2>
		<div class="field">

			<%= label_tag "Login"%>
   			<%= text_field_tag 'login', $uid ,:required => true , :placeholder => "Login" , :disable => true%>
   		</div>
	
		<div class="field">
			<%= label_tag "Nome"%> 
			<%= text_field_tag 'nome' , $givenName ,:required => true,:placeholder => "Nome" , :disable => true  %>
   		</div>
		
		<div class="field">
			<%= label_tag "SobreNome"%>
			<%= text_field_tag 'sobreNome' , $sn , :required => true,:placeholder => "SobreNome", :disable=> true %>
		</div>
		
		<div class="field">
			<%= label_tag "Email"%>
   			<%= email_field_tag 'email' ,  $mail , :required => true, :placeholder => "seuemail@.com", :disable => true %>
   		</div>
		
		<div class="field">
			<%= label_tag "Nova Senha"%>
   			<%= password_field_tag "password", nil ,:required => true %>
   		</div>		

		<div class="field">
			<%= label_tag "Confirmar Nova Senha"%>
   			<%= password_field_tag "password_confirmation", nil ,:required => true %>
   		</div>		

		  <%= button_tag :class => 'btn-success btn', :id => 'cadastrar' do %>
            <i class=' icon-white icon-edit'></i> Editar
        <% end %>

	
<% end  %>
