<html>

	<% if @result %> 
		<div class="alert alert-success"> Usuário Cadastrado com sucesso. Agora você já pode logar no REDMINE/GITLAB</div>	
	<% else %>
		<div class="alert alert-error"> Erro ao tentar cadastrar usuário.</div>
		<%= render 'form' %>
	
	<% end %>

</html>
