
<div class="hero-unit" align="center">
  <h1>Lab-Sei</h1>
    <p>Cadastro de usuários para utilização das ferramentas Redmine e Gitlab</p>
    <p>

      <%= link_to image_tag("Redmine_logo_0.png", :alt => "rss feed") , redmine_link , :target => "_blank"%>
      
      <%= link_to image_tag("gitlab_0.png", :alt => "rss feed") , gitlab_link , :target => "_blank" %>

    </p>
</div>
